
## Editor Configurations
.vs/
.idea/
.vscode/

## Cargo
/target

## Log Files
*.log

## Project Debug files
**/dbgworld.ron
### Saved breakpoints
breakpoints
.break
### Game executable copied into project root
tdgame